<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://anime-tv.local/app"
        version="0.1.15"
        viewmodes="maximized">
  <!-- Samsung TV requires package id of exactly 10 alphanumeric characters -->
  <tizen:application id="AnimeTVApp.App" package="AnimeTVApp" required_version="6.5"/>
  <content src="dist/index.html"/>
  <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
  <feature name="http://tizen.org/feature/network.wifi"/>
  <feature name="http://tizen.org/feature/network.ethernet"/>
  <feature name="http://tizen.org/feature/download"/>
  <icon src="icon.png"/>
  <name>Anime TV</name>
  <description>Personal anime aggregator for Samsung Smart TV</description>
  <tizen:profile name="tv-samsung"/>
  <tizen:privilege name="http://tizen.org/privilege/internet"/>
  <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
  <tizen:privilege name="http://tizen.org/privilege/download"/>
  <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
  <tizen:privilege name="http://tizen.org/privilege/filesystem.write"/>
  <access origin="*" subdomains="true"/>
  <tizen:setting screen-orientation="landscape"
                 context-menu="disable"
                 background-support="disable"
                 encryption="disable"
                 install-location="auto"
                 hwkey-event="enable"/>
  <tizen:metadata key="http://samsung.com/tv/metadata/devel.api.version" value="6.5"/>
</widget>
